.footer {
    margin-top: 450px;

    &__wrapper {
        width: 1200px;
      
        
    }

    &__block1 {
        @include flex;
        padding: 25px;
        background: #FBFBFB;

    }

    &__block-items {
        @include flex;
    }

    &__block-item {
        width: 204px;
        margin-right: 62px;
    }

    &__block-title {
        font-family: 'CeraPro';
        font-style: normal;
        font-weight: 700;
        font-size: 17px;
        line-height: 16px;
        color: #3D3D3D;
    }

    &__block-subtitle {
        font-family: 'CeraPro';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: #727272;
        max-width: 204px;
    }

    &__form {
        &-title {
            font-family: 'CeraPro';
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 16px;
            color: #3D3D3D;

        }

        &-join {
            @include flex-v-center;

            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.06);
            border-radius: 6px;
        }

        &-input {
            background: #FFFFFF;
            padding: 12px;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.06);
            width: 269px;
            border: none;
        }

        &-input::placeholder {
            font-family: 'CeraPro';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            color: #ACACAC;
        }

        &-btn {
            padding: 12px 26px;
            font-family: 'CeraPro';
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 16px;
            border: none;
            color: #FFFFFF;
            background: #46A358;
            border-radius: 0px 6px 6px 0px;

        }

        &-subtitle {
            font-family: 'CeraPro';
            font-style: normal;
            font-weight: 400;
            font-size: 13px;
            line-height: 22px;
            color: #727272;
            max-width: 354px;
        }
    }
    // block2
    &__block2 {
        @include flex-v-center;
        background: rgba(70, 163, 88, 0.1);
        padding: 27px 23px;
        
        &-logo {
            margin-right: 87px;
            margin-top: 3px;
        }

        &-items {
            @include flex-v-center;

        }

        &-item {
            @include flex-v-center;
            margin-right: 70px;
        }

        &-title {
            font-family: 'CeraPro';
            width: 170px;
            font-style: normal;
            margin-left: 9px;
            font-weight: 400;
            font-size: 14px;
            line-height: 22px;
            color: #3D3D3D;
        }
    }

    // block3
    &__block3 {
        @include flex;
        padding: 33px 23px;
        background: #FBFBFB;
        &-lists {
            @include flex-v-center;
        }

        &-list {
            width: 137px;
            margin-right: 127px;
        }

        &-list-social {
            width: 188px;
            margin-bottom: 33px;
            margin-left: 20px;
        }

        &-list-accept {
            width: 244px;
            margin-left: 20px;
        }

        &-items {
            @include flex-v-center;
        }

        &-title {
            font-family: 'CeraPro';
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 16px;
            color: #3D3D3D;
            margin-bottom: 8px;

        }

        &-title-social {
            margin-bottom: 20px;
        }

        &-title-accept {
            margin-bottom: 13px;
        }

        &-item {
            font-family: 'CeraPro';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 30px;
            color: #3D3D3D;
            margin-bottom: 3px;
        }

        &-item-social {
            margin-right: 10px;
            width: 30px;
            height: 30px;

            img {
                width: 30px;
                height: 30px;
            }
        }
    }
    //copyright
    .copyright{
        &__wrapper{
            width: 100%;
            @include flex-all-center;
            padding-top: 7px;
            padding-bottom: 13px;

        }
        &__title{
            font-family: 'CeraPro';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 30px;
            color: #3D3D3D;
            
        }
    }
}
@media screen and (max-width:1293px) {
    .footer__wrapper {
        max-width: 1150px;
    }
    .footer__form-subtitle {
        max-width: 274px;
    }
    .footer__form-input {
        background: #FFFFFF;
        padding: 12px;
        -webkit-box-shadow: 0px 0px 20px rgb(0 0 0 / 6%);
        box-shadow: 0px 0px 20px rgb(0 0 0 / 6%);
        width: 206px;
        border: none;
    }
}
@media screen and (max-width:1193px) {
    .footer__wrapper {
        max-width: 1100px;
    }
    .footer__block-item {
        width: 195px;
        margin-right: 50px;
    }
    .footer__block-item:first-child{
        margin-top: -10px;

}
}
@media screen and (max-width:1130px) {
    .footer{
        @include flex-all-center;
    }
    .footer__wrapper {
        max-width: 1025px;
    }
    .footer__block-img{
        width: 65px;
    }
    .footer__block-title {
        font-family: "CeraPro";
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        margin-top: 20px;
        margin-bottom: 20px;
        color: #3D3D3D;
    }
    .footer__block-subtitle {
        font-family: "CeraPro";
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 22px;
        color: #727272;
        max-width: 166px;
        
    }
    .footer__block-item {
        width: 163px;
        margin-right: 50px;
    }
    .footer__block-item:first-child{
            margin-top: -10px;

    }
    .footer__block3-list {
        width: 137px;
        margin-right: 100px;
    }
}
@media screen and (max-width:1050px) {
    .footer{
        @include flex-all-center;
    }
    .footer__wrapper {
        max-width: 880px;
    }
    .footer__block1 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
}
.footer__block-item:last-child{
    margin-right: 0;
}
.footer__block-title {
    margin-top: 10px;
    margin-bottom: 10px;
}
.footer__block2-item {
    margin-right: 20px;

}
.footer__form-title {
   text-align: center;
}
.footer__form-join {
    justify-content: center;
}
.footer__form-subtitle {
    max-width: 500px;
    text-align: center;
}
.footer__block3-list {
    width: 137px;
    margin-right: 70px;
}
.footer__block2-title {
    font-size: 12px;
}
.footer__form{
    @include flex-all-center;
    flex-direction: column;
}
}
@media screen and (max-width:935px) {
    .footer{
        @include flex-all-center;
    }
    .footer__wrapper {
        max-width: 800px;
    }
    .footer__block2-logo {
      display: none;
    }
    .footer__block3-list {
        width: 137px;
        margin-right: 50px;
    }

}
@media screen and (max-width:850px) {
    .footer{
        @include flex-all-center;
    }
    .footer__wrapper {
        max-width: 740px;
    }
    .footer__block2{
        justify-content: center;
    }
    .footer__block3 {
        flex-wrap: wrap;
        @include flex-all-center;
        &-list:last-child{
            margin-right: 0;
        }
    }
    .social{
        margin-top: 30px;
        display: flex;
    }
}
@media screen and (max-width:750px) {
    .footer{
        @include flex-all-center;
    }
    .footer__wrapper {
        max-width: 690px;
    }
    .footer__block2-item:last-child {
        margin-right: 0px;
    }
}
@media screen and (max-width:710px) {
    .footer{
        @include flex-all-center;
    }
    .footer__wrapper {
        max-width: 600px;
    }
    .footer__block2-title {
        font-size: 10px;
        width: 130px;
    }
    .footer__block-subtitle {
       font-size: 10px;
        text-align: center;
    }
    .footer__block-title {
        text-align: center;
    }
    .footer__block-item {
       @include flex-all-center;
       flex-direction: column;
       margin-right: 31px;
    }
}
@media screen and (max-width:630px) {
    .footer{
        @include flex-all-center;
    }
    .footer__wrapper {
        max-width: 530px;
    }
    .footer__block-items {
       @include flex-all-center;
       flex-wrap: wrap;
    }
    .footer__block-item:nth-child(2) {
        margin-right: 0px;
    }
    .footer__block2-items {
        @include flex-all-center;
        flex-wrap: wrap;
    }
    .footer__block2-item:nth-child(2) {
        margin-top: 15px;
     }
    .footer__block2-item:last-child {
       margin-top: 15px;
    }
    .footer__block2-title {
        font-size: 12px;
        width: 159px;
    }
    .footer__block3-title {
        font-size: 15px;
    }
    .footer__block3-item {
        font-size: 12px;
    }
    .footer__block3-list {
        margin-right: 25px;
    }
    .social {
        margin-top: 10px;
        margin-bottom: 20px;
    }
}
@media screen and (max-width:550px) {
    .footer{
        @include flex-all-center;
    }
    .footer__wrapper {
        max-width: 460px;
    }
    .footer__block3-list {
       margin-left: 10px;
       margin-right: 0;
    }

}
@media screen and (max-width:550px) {
    .footer{
        @include flex-all-center;
    }
    .footer__wrapper {
        max-width: 460px;
    }
    .footer__block3-lists {
    flex-wrap: wrap;
}
.footer__block3-list3 {
   margin-top: 25px;
}
}
@media screen and (max-width:485px) {
    .footer__wrapper {
        max-width: 425px;
    }
}
@media screen and (max-width:445px) {
    .footer__wrapper {
        max-width: 380px;
    }
    .footer__block-items {
        flex-direction: column;
    }
    .footer__block-item:first-child {
       margin-right: 0;
    }
}
@media screen and (max-width:400px) {
    .footer__wrapper {
        max-width: 320px;
    }
    .footer__block-items {
        flex-direction: column;
    }
    .footer__block-item:first-child {
       margin-right: 0;
    }
    
}
@media screen and (max-width:345px) {
    .footer__wrapper {
        max-width: 300px;
    }
    .footer__block-items {
        flex-direction: column;
    }
    .footer__block-item:first-child {
       margin-right: 0;
    }
    .footer__form-input {
        width: 180px;
    }
}