.products {
    max-width: 840px;
    width: 100%;
position: relative;
    &__item {
        margin-bottom: 70px;
        cursor: pointer;


        svg {
            fill: #3D3D3D;
            cursor: pointer;
            margin-right: 27px;
        }

        svg:hover {
            fill: #46A358;
        }

        svg:not(svg:last-child) {
            margin-right: 27px;
        }
    }

    &__image {
        display: flex;
        justify-content: center;

        transition: all ease 1s;
        margin-bottom: 32px;
        position: relative;
        width: 258px;
        height: 300px;
        background: #FBFBFB;

        img {
            transition: all ease 1s;
        }
    }

    &__descr {
        opacity: 0;
        display: flex;
        justify-content: center;
        transition: all ease 1s;
        width: 100%;
        bottom: 7px;
        position: absolute;
    }

    &__item:hover &__descr {
        width: 100%;
        bottom: 7px;
        position: absolute;
        opacity: 1;

    }
&__items{
    margin-top: 31px;
    z-index: -1;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
    &__image:hover {
        img {
            transform: scale(1.1);
        }

    }

    &__title {
        margin-bottom: 6px;

        h5 {
            margin: 0;
            font-family: 'CeraPro';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 16px;
            color: #3D3D3D;
        }
    }

    &__price {
        font-family: 'CeraPro';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 16px;
        color: #46A358;

    }

    &__wrapper {
        margin-left: 50px;
    }

    &__top {
        @include flex-all-sb;
        margin-right: 5px;

        &-items {
            @include flex-v-center;
        }

        &-item {
            margin-right: 40px;
        }

        &-link {
            font-family: 'CeraPro';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 16px;
            color: #3D3D3D;
        }

        &-link.active {
            color: #46A358;
            border-bottom: 2px solid #46A358;
            ;
            padding-bottom: 7px;
        }

        &-sorting {
            @include flex;
            z-index: -1;
            margin-right: 15px;

        }

        &-text {
            font-family: 'CeraPro';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 16px;
            color: #3D3D3D;
        }

        &-option {
            font-family: 'CeraPro';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 16px;
            color: #3D3D3D;
            margin-left: 8px;
            position: relative;
        }

        &-option::after {
            content: "";
            display: inline-block;
            background: url(../../img/Arrow\ -\ Down\ 2.png);
            position: absolute;
            width: 16px;
            height: 16px;
            margin-left: 5px;
        }

    }

    span {
        font-family: 'CeraPro';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 16px;
        color: #A5A5A5;
        text-decoration: line-through;
        margin-left: 16px;
    }
    &__pagination{
        margin-top: 0px;
        z-index: -1;
        &-items{
            @include flex;
            justify-content: flex-end;
        }
        &-item{
            margin-right: 10px;
        }
        &-link{
            padding: 10px 14px 9px 14px;
            border: 1px solid #E5E5E5;
    border-radius: 4px;
            
        }
        &-link.active{
            padding: 7px 14px 7px 14px;
            font-family: 'CeraPro';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 16px;
color: #FFFFFF;
background: #46A358;
border-radius: 4px;
border:none;
        }
        &-item:last-child{
            margin-right: 0;
            .products__pagination-link{
                padding: 14px 14px 4px 14px;
            }
        }

    }
    &__filter-btn{
        display: block;
        height: 45px;
        width: 45px;
        background: -o-linear-gradient(312.95deg, rgba(70, 163, 88, 0.45) -24.6%, #46A358 100%);
        background: linear-gradient(137.05deg, rgba(70, 163, 88, 0.45) -24.6%, #46A358 100%);
        -webkit-box-shadow: 0px 10px 20px rgb(70 163 88 / 30%);
        box-shadow: 0px 10px 20px rgb(70 163 88 / 30%);
        border-radius: 14px;
        border: none;
        display: flex;
        justify-content: center;
        align-items:center;
        position: absolute;
        top: 60px;
        right: 0px;
    }
    
    }
    .products__filter-btn{
        display: none;
     }
     .products__item .products__descr a:last-child{
        svg{
            margin-right: 0;
        }
     }
@media screen and (max-width:1150px) {
    .products{
            &__items{
        display: flex;
        justify-content:center;
        margin-top: 30px;
    }
    &__image{
        width: 180px;
        height: 200px;
    }
    &__item{
        margin-right: 20px;
        margin-bottom: 20px;
    }
    }
    .products__pagination-items {
        margin-top: 20px;
    }
}
@media screen and (max-width:980px){
    .filter{
        margin-bottom: 30px;
       height: 0;
       overflow: hidden;
       transition: all ease 1s;
    }
    .filter.active{
        height: 550px;
        
    }
    .main__wrapper{
       
        flex-direction: column;
        justify-content: center;
    }
    .products{
        max-width: 100%;
        width: 100%;
    }
    .products__top{
        width: 100%;
    }

    .products__filter-btn{
       display: flex;
       justify-content: center;
       align-items:center;
    }
    .products__pagination-items {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: center;
    }
}
@media screen and (max-width:756px) {
    .products__filter-btn{
        display: none;
     }

        
}