
.products {
    &__item {
     cursor: pointer;
     
       
        svg {
            fill: #3D3D3D;
            cursor: pointer;
            margin-right: 27px;
        }

        svg:hover {
            fill: #46A358;
        }
        svg:not(svg:last-child){
            margin-right: 27px;
        }
    }

    &__image {
        margin-bottom: 32px;
        position: relative;
        width: 258px;
        height: 300px;
        background: #FBFBFB;
    }

    &__descr{
opacity: 0;
display: flex;
justify-content: center;
    transition: all ease 1s;
     width: 100%;
        bottom: 7px;
        position: absolute;
    }
    &__item:hover &__descr{
     width: 100%;
        bottom: 7px;
        position: absolute;
      opacity: 1;
   
    }
    &__title{
        margin-bottom: 6px;
        h5{
            margin: 0;
            font-family: 'CeraPro';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 16px;
color: #3D3D3D;
        }
    }
    &__price{
        font-family: 'CeraPro';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 16px;
color: #46A358;

.products{
    &__wrapper{
        margin-left: 50px;
    }
    max-width: 840px;
    width: 100%;
    &__top{
        @include flex-all-sb;
        margin-right: 5px;
        &-items{
            @include flex-v-center;
        }
        &-item{
            margin-right: 40px;
        }
        &-link{
            font-family: 'CeraPro';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 16px;
color: #3D3D3D;
        }
        &-link.active{
            color: #46A358;
            border-bottom: 2px solid #46A358;;
            padding-bottom: 7px;
        }
        &-sorting{
            @include flex;
           
        }
        &-text{
            font-family: 'CeraPro';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 16px;
color: #3D3D3D;
        }
        &-option{
            font-family: 'CeraPro';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 16px;
            color: #3D3D3D;
            margin-left: 8px;
            position: relative;
        }
        &-option::after{
            content: "";
            display: inline-block;
            background:url(../../img/Arrow\ -\ Down\ 2.png);
            position:absolute;
            width: 16px;
            height: 16px;
            margin-left: 5px;
        }

    }
}