.products{
    &__wrapper{
        margin-left: 50px;
    }
    max-width: 840px;
    width: 100%;
    &__top{
        @include flex-all-sb;
        margin-right: 5px;
        &-items{
            @include flex-v-center;
        }
        &-item{
            margin-right: 40px;
        }
        &-link{
            font-family: 'CeraPro';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 16px;
color: #3D3D3D;
        }
        &-link.active{
            color: #46A358;
            border-bottom: 2px solid #46A358;;
            padding-bottom: 7px;
        }
        &-sorting{
            @include flex;
            margin-right: 15px;
        }
        &-text{
            font-family: 'CeraPro';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 16px;
color: #3D3D3D;
        }
        &-option{
            font-family: 'CeraPro';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 16px;
            color: #3D3D3D;
            margin-left: 8px;
            position: relative;
        }
        &-option::after{
            content: "";
            display: inline-block;
            background:url(../../img/Arrow\ -\ Down\ 2.png);
            position:absolute;
            width: 16px;
            height: 16px;
            margin-left: 5px;
        }
    }
    &__pagination{
        margin-top: 54px;
        &-items{
            @include flex;
            justify-content: flex-end;
        }
        &-item{
            margin-right: 10px;
        }
        &-link{
            padding: 10px 14px 9px 14px;
            border: 1px solid #E5E5E5;
    border-radius: 4px;
            
        }
        &-link.active{
            padding: 7px 14px 7px 14px;
            font-family: 'CeraPro';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 16px;
color: #FFFFFF;
background: #46A358;
border-radius: 4px;
border:none;
        }
        &-item:last-child{
            margin-right: 0;
            .products__pagination-link{
                padding: 14px 14px 4px 14px;
            }
        }

    }
}