<section class="blog">
    <div class="container">
        <div class="blog__wrapper">
            <div class="blog__title">
                <h2>Our Blog Posts</h2>
            </div>
            <div class="blog__subtitle">
                <p>We are an online plant shop offering a wide range of cheap and trendy plants. </p>
            </div>
            <div class="blog__items">
                <div class="blog__item">
                    <div class="blog__image"><img src="../img/blog-item1.png" alt=""></div>
                    <div class="blog__descr">
                        <span>September 12  I Read in 6 minutes</span>
                      <div class="blog__item-title"><h4>Cactus & Succulent Care Tips</h4></div>
                      <div class="blog__item-subtitle"><p>Cacti are succulents are easy care plants for any home or patio. </p></div>
                      <a href="#" class="blog__item-link">Read More</a>
                    </div>
                </div>
                <div class="blog__item">
                    <div class="blog__image"><img src="../img/blog-item2.png" alt=""></div>
                    <div class="blog__descr">
                        <span>September 12  I Read in 6 minutes</span>
                      <div class="blog__item-title"><h4>Cactus & Succulent Care Tips</h4></div>
                      <div class="blog__item-subtitle"><p>Cacti are succulents are easy care plants for any home or patio. </p></div>
                      <a href="#" class="blog__item-link">Read More</a>
                    </div>
                </div>
                <div class="blog__item">
                    <div class="blog__image"><img src="../img/blog-item3.png" alt=""></div>
                    <div class="blog__descr">
                        <span>September 12  I Read in 6 minutes</span>
                      <div class="blog__item-title"><h4>Cactus & Succulent Care Tips</h4></div>
                      <div class="blog__item-subtitle"><p>Cacti are succulents are easy care plants for any home or patio. </p></div>
                      <a href="#" class="blog__item-link">Read More</a>
                    </div>
                </div>
                <div class="blog__item">
                    <div class="blog__image"><img src="../img/blog-item4.png" alt=""></div>
                    <div class="blog__descr">
                        <span>September 12  I Read in 6 minutes</span>
                      <div class="blog__item-title"><h4>Cactus & Succulent Care Tips</h4></div>
                      <div class="blog__item-subtitle"><p>Cacti are succulents are easy care plants for any home or patio. </p></div>
                      <a href="#" class="blog__item-link">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>