<section class="information">
    <div class="container">
        <div class="information__block">
            <div class="swiper__imgs">
                <a href=""><img class="product__back" src="../img/back1.png" alt=""></a>
               <div class="checkout__title">Checkout</div>
            </div>
            <div class="information__shipping">
                <div class="information__shipping-title">Shiping to</div>
                <div class="information__shipping-adress">Add information</div>
              </div>
              <div class="information__location">
                <div class="information__payment-item">
                    <input class="information__payment-input" type="radio" name="location" id="radio-7" >
                    <label for ="radio-7"class="information__payment-text">Home
                        <br>
                        
                        <span>100 Jericho avenue, Westbury, 
                            NY 11590, USA</span>
                    </label>
                    <img src="../img/svg/setting.svg" alt="">
                </div>
                <div class="information__payment-item">
                    <input class="information__payment-input" type="radio" name="location" id="radio-6" >
                    <label for ="radio-6"class="information__payment-text">Office
                        <br>
                        
                        <span>100 Jericho avenue, Westbury, 
                            NY 11590, USA</span>
                    </label>
                    <img src="../img/svg/setting.svg" alt="">
                </div>
              </div>
        </div>
          
        <div class="information__wrapper">
          <div class="information__lc">
            <img class="information__close" src="../img/closeInfo.png" alt="">
            <div class="information__left">
                <h2 class="information__title">Billing Address</h2>
                <div class="information__inputs">
                <div class="information__input">
                    <div class="information__left-title">First Name *</div>
                    <input class="information__input-block" type="text">
                </div>
                <div class="information__input information__input-select">
                    <div class="information__left-title">Country / Region
                        *</div>
                    <input class="information__input-block"placeholder="Select a country / region" type="text">
                </div>
                <div class="information__input">
                    <div class="information__left-title">Street Address</div>
                    <input class="information__input-block" placeholder="House number and street name" type="text">
                </div>
                <div class="information__input information__input-select">
                    <div class="information__left-title">State</div>
                    <input class="information__input-block" placeholder="Select a state" type="text">
                </div>
                <div class="information__input">
                    <div class="information__left-title">Email address</div>
                    <input class="information__input-block" type="text">
                </div>
                
                <div class="information__input information__input-question">
                    <input type="radio">
                    <div class="information__input-descr ">Ship to a different address?</div>
                </div>
                
                <div class="information__input">
                    <div class="information__left-title">Order notes (optional)</div>
                    <input class="information__input-textarea information__input-block" type="text">
                </div>
            </div>
           
        </div>
        <div class="information__center">
            <div class="information__inputs">
            <div class="information__input">
                <div class="information__left-title">Last Name *</div>
                <input class="information__input-block" type="text">
            </div>
            <div class="information__input ">
                <div class="information__left-title">Town / City</div>
                <input class="information__input-block" type="text">
            </div>
            <div class="information__input">
                <div class="information__left-title information__left-title-opacity">vfvfv</div>
                <input class="information__apartament information__input-block" placeholder="Appartment, suite, unit, etc. (optional)" type="text">
            </div>
            <div class="information__input ">
                <div class="information__left-title">Zip</div>
                <input class="information__input-block" type="text">
            </div>
            <div class="information__input information__input-select information__input-phone">
                <div class="information__left-title">Phone Number</div>
                <input class="information__input-phone information__input-block" placeholder="+966" type="text">
            </div>
        </div>
    </div>
</div>
            <div class="information__right">
                <h2 class="information__title">Your Order</h2>
                <div class="information__right-inner">
                    <div class="information__right-title">Products</div>
                    <div class="information__right-title">Subtotal</div>
                </div>
                <div class="information__right-items">
                    <div class="information__right-item">
                        <div class="information__right-img">
                            <img src="../img/checkout__img1.png" alt="">
                        </div>
                        <div class="information__right-text">
                            <div class="information__right-name">Barberton Daisy</div>
                            <div class="information__right-scu"><span>SKU:</span> 1995751877966</div>
                        </div>
                        <div class="information__right-number">(x 2)</div>
                        <div class="information__right-price">$238.00</div>
                    </div>
                    <div class="information__right-item">
                        <div class="information__right-img">
                            <img src="../img/checkout__img2.png" alt="">
                        </div>
                        <div class="information__right-text">
                            <div class="information__right-name">Blushing Bromeliad</div>
                            <div class="information__right-scu"><span>SKU:</span>  19957518757065</div>
                        </div>
                        <div class="information__right-number">(x 6)</div>
                        <div class="information__right-price">$834.00</div>
                    </div>
                    <div class="information__right-item">
                        <div class="information__right-img">
                            <img src="../img/checkout__img3.png" alt="">
                        </div>
                        <div class="information__right-text">
                            <div class="information__right-name">Aluminum Plant</div>
                            <div class="information__right-scu"><span>SKU:</span> 1995751877786</div>
                        </div>
                        <div class="information__right-number">(x 9)</div>
                        <div class="information__right-price">$1,611.00</div>
                    </div>
                </div>
                <div class="information__right-code">Have a coupon code? 
                    <span><a href="#">Click here</a></span>
                </div>
                <div class="information__right-block">
                    <div class="information__right-amount">
                      <div class="information__right-descr">Subtotal</div>
                      <div class="information__right-count">$2,683.00</div>
                    </div>
                    <div class="information__right-amount">
                        <div class="information__right-descr">Coupon Discount</div>
                        <div class="information__right-count information__right-coupon">(-) 00.00</div>
                      </div>
                      <div class="information__right-amount">
                        <div class="information__right-descr">Shiping</div>
                        <div class="information__right-count">$16.00</div>
                      </div>
                      <div class="information__right-view">View shipping charge</div>
                      <div class="information__right-amount">
                        <div class="information__right-total">Total</div>
                        <div class="information__right-totalPrice">$2,699.00</div>
                      </div>
                      <div class="information__payment">
                        <div class="information__title">Payment Method</div>
                        <div class="information__payment-items">
                            <div class="information__payment-item">
                                <input class="information__payment-input" type="radio" id="radio-1" name="payment" value="radio-1" checked>
                                <label for="radio-1" class="information__payment-text"><img  class="information__payment-img" src="../img/payment.png" alt=""></label>
                            </div>
                            <div class="information__payment-item">
                                <input class="information__payment-input" type="radio" name="payment" id="radio-2">
                                <label for ="radio-2" class="information__payment-text">Dorect bank transfer</label>
                            </div>
                            <div class="information__payment-item">
                                <input class="information__payment-input" type="radio" name="payment" id="radio-3" >
                                <label for ="radio-3"class="information__payment-text">Cash on delivery</label>
                            </div>
                        </div>
                        <div class="information__right-btn">
                        <div class="information__payment-btn">Place Order</div></div>
                      </div>
                </div>
                
            </div>
        </div>
    </div>
    <div class="information__modal-block">
    <div class="modal">
        <div class="modal__wrapper">
            <div class="modal__top">
                <div class="modal__top-block1">
                    <img class="modal__img-thank" src="../img/modal__img.png" alt="">
                    <p class="modal__top-text">Your order has been received</p>
                    <img class="modal__close" src="../img/closeModal.png" alt="">
                </div>
                <div class="madal__top-block2">
                    <div class="modal__top-items">
                        <div class="modal__top-item">
                            <div class="modal__top-itemTitle">
                                Order Number
                            </div>
                            <div class="modal__top-itemSubtitle">
                                19586687
                            </div>
                        </div>
                        <div class="modal__top-item">
                            <div class="modal__top-itemTitle">
                                Date
                            </div>
                            <div class="modal__top-itemSubtitle">
                                15 Sep, 2021
                            </div>
                        </div>
                        <div class="modal__top-item">
                            <div class="modal__top-itemTitle">
                                Total
                            </div>
                            <div class="modal__top-itemSubtitle">
                                2,699.00
                            </div>
                        </div>
                        <div class="modal__top-item">
                            <div class="modal__top-itemTitle">
                                Payment Method
                            </div>
                            <div class="modal__top-itemSubtitle">
                                Cash on delivery
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal__center">
                <div class="modal__center-title">Order Details</div>
                <div class="modal__center-itemTitles">
                    <div class="modal__center-itemTitle modal__center-itemTitle1">Products</div>
                    <div class="modal__center-itemTitle modal__center-itemTitle2">Qty</div>
                    <div class="modal__center-itemTitle modal__center-itemTitle3">Subtotal</div>
                </div>
                <div class="information__right-items">
                    <div class="information__right-item">
                        <div class="information__right-img">
                            <img src="../img/checkout__img1.png" alt="">
                        </div>
                        <div class="information__right-text">
                            <div class="information__right-name">Barberton Daisy</div>
                            <div class="information__right-scu"><span>SKU:</span> 1995751877966</div>
                        </div>
                        <div class="information__right-number">(x 2)</div>
                        <div class="information__right-price">$238.00</div>
                    </div>
                    <div class="information__right-item">
                        <div class="information__right-img">
                            <img src="../img/checkout__img2.png" alt="">
                        </div>
                        <div class="information__right-text">
                            <div class="information__right-name">Blushing Bromeliad</div>
                            <div class="information__right-scu"><span>SKU:</span>  19957518757065</div>
                        </div>
                        <div class="information__right-number">(x 6)</div>
                        <div class="information__right-price">$834.00</div>
                    </div>
                    <div class="information__right-item">
                        <div class="information__right-img">
                            <img src="../img/checkout__img3.png" alt="">
                        </div>
                        <div class="information__right-text">
                            <div class="information__right-name">Aluminum Plant</div>
                            <div class="information__right-scu"><span>SKU:</span> 1995751877786</div>
                        </div>
                        <div class="information__right-number">(x 9)</div>
                        <div class="information__right-price">$1,611.00</div>
                    </div>
                </div>
                <div class="information__right-block">
                <div class="information__right-amount">
                    <div class="information__right-descr">Shiping</div>
                    <div class="information__right-count">$16.00</div>
                  </div>
                  <div class="information__right-amount">
                    <div class="information__right-total">Total</div>
                    <div class="information__right-totalPrice">$2,699.00</div>
                  </div>
                </div>
            </div>
            <div class="modal__bottom">
                <p class="modal__bottom-subtitle">
                    Your order is currently being processed. You will receive an order confirmation email shortly with the expected delivery date for your items.
                </p>
                
                <div class="modal__bottom-btn">
                    <button class="modal__bottom-button">Track your order</button></div>
            </div>
        </div>
    </div>
</div>
</section>