<section class="product">
    <div class="container">
        <div class="product__wrapper">
            <div class="product__together">
            <div class="product__left">
                <div class="product__left-item">
                    <img class="product__left-img" src="../img/product__left-img.png" alt="">
                </div>
                <div class="product__left-item active">
                    <img class="product__left-img" src="../img/product__left-img1.png " alt="">
                </div>
                <div class="product__left-item">
                    <img class="product__left-img" src="../img/product__left-img.png" alt="">
                </div>
                <div class="product__left-item">
                    <img class="product__left-img" src="../img/product__left-img1.png" alt="">
                </div>
            </div>
            <div class="product__center">
                <div class="product__center-item">
                    <img class="product__center-img" src="../img/product__center-img.png" alt="">
                    <img class="product__center-search"src="../img/svg/Search1.svg" alt="">
                </div>
            </div>
        </div>
        <div class="swiper mySwiper3">
            <div class="swiper__imgs">
                <a href="#"><img class="product__back" src="../img/svg/back.svg" alt=""></a>
                <img class="product__like" src="../img/like__product.png" alt="">
            </div>
          
            <div class="swiper-wrapper">
              <div class="swiper-slide">  <img class="product__left-img" src="../img/product__img2.png" alt=""></div>
              <div class="swiper-slide"><img class="product__left-img" src="../img/product__img2.png" alt=""></div>
              <div class="swiper-slide swiper-slide3"><img class="product__left-img" src="../img/product__img2.png" alt=""></div>
            </div>
            <div class="swiper3-pagination"></div>
          </div>
          
            <div class="product__right">
                <div class="product__right-top">
                    <h2 class="product__right-title">Barberton Daisy</h2>
                    <div class="product__right-block">
                        <div class="product__right-price">$119.00</div>
                        <div class="product__right-inner">
                        <div class="product__right-stars">
                            <div class="product__right-star">
                                <img  class="star" src="../img/Star.png" alt="">
                            </div>
                            <div class="product__right-star">
                                <img class="star" src="../img/Star.png" alt="">
                            </div>
                            <div class="product__right-star">
                                <img class="star" src="../img/Star.png" alt="">
                            </div>
                            <div class="product__right-star">
                                <img class="star" src="../img/Star.png" alt="">
                            </div>
                            <div class="product__right-star">
                                <img class="star" src="../img/svg/Star.svg" alt="">
                            </div>
                        </div>
                        <div class="product__right-span">
                            19 Customer Review
                        </div>
                    </div>
                </div>
                </div>
                <div class="product__right-center">
                    <div class="product__right-descr">
                        <h4 class="product__right-descrTitle">Short Description:</h4>
                        <p class="product__right-subtitle">The ceramic cylinder planters come with a wooden stand to help elevate your plants off the ground. The ceramic cylinder planters come with a wooden stand to help elevate your plants off the ground. </p>
                    </div>
                    <div class="product__right-descr product__right-descr2">
                        <h4 class="product__right-descrTitle ">Size:</h4>
                       <div class="product__right-items">
                        <div class="product__right-item active">
                            S
                        </div>
                        <div class="product__right-item">
                            M
                        </div>
                        <div class="product__right-item">
                            L
                        </div>
                        <div class="product__right-item">
                            XL
                        </div>
                        
                       </div>
                    </div>
                    <div class="product__right-buy">
                        <div class="product__right-number">
                            <div class="product__right-sign plus">+</div>
                            <div class="product__right-count">1</div>
                            <div class="product__right-sign minus">-</div>
                        </div>
                        <div class="product__right-buttons">
                            <div class="product__right-button">
                                Buy NOW
                            </div>
                            <div class="product__right-button product__right-button-white">
                                Add to cart
                            </div>
                            <div class="product__right-button product__right-button-white product__right-button-padding">
                                <img src="../img/like.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="product__right-category">
                        <div class="product__right-cnu">SKU: <span>1995751877966</span></div>
                        <div class="product__right-categories">Categories:<span>Potter Plants</span> </div>
                        <div class="product__right-tags">Tags: <span>Home, Garden, Plants</span></div>
                        <div class="product__social">
                            <div class="product__social-title">Share this products:</div>
                            <div class="product__social-links">
                                <a class="product__social-link" href="#">
                                    <img src="../img/svg/Facebook.svg" alt="">
                                </a>
                                <a class="product__social-link" href="#">
                                    <img src="../img/svg/Twitter.svg" alt="">
                                </a>
                                <a class="product__social-link" href="#">
                                    <img src="../img/svg/Linkedin.svg" alt="">
                                </a>
                                <a class="product__social-link"href="#">
                                    <img src="../img/svg/Message.svg" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="product__bottom">
        <div class="container">
        <div class="product__bottom-wrapper">
        <div class="product__bottom-up">
            <div class="product__bottom-block">
            <div class="product__bottom-valute">Qty</div>
            <div class="product__right-number">
                <div class="product__right-sign plus"><img src="../img/product__plus.png" alt=""></div>
                <div class="product__right-count">1</div>
                <div class="product__right-sign minus"><img src="../img/product__minus.png" alt=""></div>
            </div>
            </div>
            <div class="product__right-price">$119.00</div>
        </div>
        <div class="product__bottom-down">
            <div class="product__bottom-btns">
            <button class="product__bottom-buy">Buy Now</button>
            <a class="product__bottom-link" href="#">
                <img class="product__bottom-img" src="../img/cart1.png" alt="">
            </a>
        </div>
    </div>
    </div>
    </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
<script>
    
    var swiper = new Swiper(".mySwiper3", {
      spaceBetween: 30,
      pagination: {
        el: ".swiper3-pagination",
        clickable: true,
      },
    });
  </script>