<section class="products">
    <div class="products__wrapper">
        <div class="products__top">
            <div class="products__top-items">
                <div class="products__top-item">
                    <a class="products__top-link active">All Plants</a>
                </div>
                <div class="products__top-item">
                    <a class="products__top-link">New Arrivals</a>
                </div>
                <div class="products__top-item">
                    <a class="products__top-link">Sale</a>
                </div>
            </div>
            <div class="products__top-sorting">
                <div class="products__top-text">Short by:</div>
                <div class="products__top-option">Default sorting</div>
            </div>
        </div>
        <div class="products__items"></div>
        <div class="products__pagination">
            <div class="products__pagination-items">
                <div class="products__pagination-item">
                    <a class="products__pagination-link active">
                        1
                    </a>
                </div>
                <div class="products__pagination-item">
                    <a class="products__pagination-link">
                        2
                    </a>
                </div>
                <div class="products__pagination-item">
                    <a class="products__pagination-link">
                        3
                    </a>
                </div>
                <div class="products__pagination-item">
                    <a class="products__pagination-link">
                        4
                    </a>
                </div>
                <div class="products__pagination-item">
                    <a class="products__pagination-link">
                        <img src="../img/Arrow - Right 2.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
    
</section>