<section class="products">
    <div class="products__wrapper">
        <div class="products__top">
            <div class="products__top-items">
                <div class="products__top-item">
                    <a class="products__top-link active">All Plants</a>
                </div>
                <div class="products__top-item">
                    <a class="products__top-link">New Arrivals</a>
                </div>
                <div class="products__top-item">
                    <a class="products__top-link">Sale</a>
                </div>
            </div>
            <div class="products__top-sorting">
                <div class="products__top-text">Short by:</div>
                <div class="products__top-option">Default sorting</div>
            </div>
        </div>
        <div class="products__items"></div>
        <div class="products__text"></div>
    </div>
    
</section>