<div class="table-cart">
        <table class="table">
            <tr class="table__header">
                <th class="table__title">Products</td>
                <th  class="table__title">Price</td>
                <th class="table__title">Quantity</td>
                <th class="table__title">Total</td>
            </tr>
            <tr class="table__item">
                <td class="table__item-descr">
                  <div class="table__item-image"><img src="../img/product__center-img.png" alt=""></div>
                    <div class="table__item-text">
                        <div class="table__item-title"><h3>Barberton Daisy</h3></div>
                        <div class="table__item-subtitle"><p>SKU: <span>1995751877966</span></p></div>
                    </div>
                </td>
                <td class="table__item-price">
                    $119.00
                </td>
                <td class="table__item-quantity">
                  <button class="table-btn">+</button>
                  <div class="count">2</div>
                  <button class="table-btn">-</button>
                </td>
                <td class="table__item-total">
                    $238.00
                    
                  </td>
                  <td><button class="cart-delete"><img src="../img/svg/Delete.svg" alt=""></button></td>
            </tr>
            <tr class="table__item">
                <td class="table__item-descr">
                  <div class="table__item-image"><img src="../img/products__item3.png" alt=""></div>
                    <div class="table__item-text">
                        <div class="table__item-title"><h3>Barberton Daisy</h3></div>
                        <div class="table__item-subtitle"><p>SKU: <span>1995751877966</span></p></div>
                    </div>
                </td>
                <td class="table__item-price">
                    $139.00
                </td>
                <td class="table__item-quantity">
                  <button class="table-btn">+</button>
                  <div class="count">6</div>
                  <button class="table-btn">-</button>
                </td>
                <td class="table__item-total">
                   $834.00
                    
                  </td>
                  <td><button class="cart-delete"><img src="../img/svg/Delete.svg" alt=""></button></td>
            </tr>
            <tr class="table__item">
                <td class="table__item-descr">
                  <div class="table__item-image"><img src="../img/products__item2.png" alt=""></div>
                    <div class="table__item-text">
                        <div class="table__item-title"><h3>Barberton Daisy</h3></div>
                        <div class="table__item-subtitle"><p>SKU: <span>1995751877966</span></p></div>
                    </div>
                </td>
                <td class="table__item-price">
                    $179.00
                </td>
                <td class="table__item-quantity">
                  <button class="table-btn">+</button>
                  <div class="count">9</div>
                  <button class="table-btn">-</button>
                </td>
                <td class="table__item-total">
                    $1,611.00
                    
                  </td>
                  <td><button class="cart-delete"><img src="../img/svg/Delete.svg" alt=""></button></td>
            </tr>
        </table>
</div>