<section class="table__form">
    
    <div class="table__form-title">Cart Totals</div>
    <div class="table__form-subtitle">Coupon Apply</div>
    <div class="table__form-block">
        <input type="text" placeholder="Enter coupon code here...">
        <button class="table__block-btn">Apply</button>
    </div>
    <div class="table__block-items">
        <div class="table__block-item">
            <div class="table__block-title">Subtotal</div>
            <div class="table__block-price">$2,683.00</div>
        </div>
        <div class="table__block-item">
            <div class="table__block-title">Coupon Discount</div>
            <div class="table__block-coupor">(-) 00.00</div>
        </div>
        <div class="table__block-item table__block-margin">
            <div class="table__block-title">Shiping</div>
            <div class="table__block-price">$16.00</div>
        </div>
        <div class="table__block-change">View shipping charge</div>
        <div class="table__block-item table__block-margin30">
            <div class="table__total-title">Total</div>
            <div class="table__block-total">$2,699.00</div>
        </div>
    </div>
   
    <button class="checkout__btn">Proceed To Checkout</button>
    <a class= "table__block-link" href="../index.html">Continue Shopping</a>
</section>