// базовые подключения
@import "vars";
@import "mixins";
@import "fonts";
@import "settings";

// подключения компонентов страницы
@import "./components/header";
@import "./components/title";
@import "./components/footer";

@import "./components/blog";
@import "./components/info";
@import "./components/products";
@import "./components/product";
@import "./components/filter";
@import "./components/item";
ul{
	list-style: none;
  margin: 0;
  padding: 0;
}
a{
	text-decoration: none;
	color: "black";
}
.page__body{
  position: relative;
  background: #fff;
}
.main__wrapper{
  @include flex;
  width: 100%;
  margin-top: 30px;
  margin-left: -15px;
  position: relative;
}

.swiper-pagination-bullet{

  border: 1.3px solid #46A358;
  background:none;
  opacity: 1;

}
.swiper-pagination-bullet:nth-child(4){
  display: none;
}

.swiper-pagination-bullet-active{

  border: 1.3px solid #46A358;
  background:#46A358;

}
@media screen and (max-width:756px) {
  .main__wrapper{
    position: static;
  }
}