// базовые подключения
@import "vars";
@import "mixins";
@import "fonts";
@import "settings";

// подключения компонентов страницы
@import "./components/header";
@import "./components/title";
@import "./components/footer";

@import "./components/blog";
@import "./components/info";
@import "./components/products";
@import "./components/filter";
ul{
	list-style: none;
  margin: 0;
  padding: 0;
}
a{
	text-decoration: none;
	color: "black";
}
.page__body{
  position: relative;
  background: #fff;
}
.main__wrapper{
  @include flex;
  width: 100%;
  margin-top: 30px;
  margin-left: -15px;
}