// базовые подключения
@import "vars";
@import "mixins";
@import "fonts";
@import "settings";

// подключения компонентов страницы
@import "./components/header";
@import "./components/title";
@import "./components/footer";

@import "./components/blog";
@import "./components/info";
@import "./components/products";
@import "./components/product";
@import"./components/information";
@import "./components/filter";
@import "./components/item";
@import "./components/item__text";
@import "./components/cart";
@import "./components/table-cart";
@import "./components/table-form";
@import "./components/login";
@import "./components/register";

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: "black";
}

.page__body {
  position: relative;
  background: #fff;
}

.main__wrapper {
  @include flex;
  width: 100%;
  margin-top: 30px;
  margin-left: -15px;
  position: relative;
}

.swiper-pagination-bullet {

  border: 1.3px solid #46A358;
  background: none;
  opacity: 1;

}

.swiper-pagination-bullet:nth-child(4) {
  display: none;
}

.swiper-pagination-bullet-active {

  border: 1.3px solid #46A358;
  background: #46A358;

}

.modal__block{
  display: none;
}
.modal-overlap.active{
  width: 100%;
  height: 100%;
  position: absolute;
  background: #3D3D3D;
  opacity: 0.5;
  z-index: 1000;
}
.modal__block.active{
  position: absolute;
  width: 100%;  
  top: 30px;
  @include flex-all-center;
}
.modal {
 
 
  width: 500px;
  z-index: 1001;
 position: relative;
  padding: 50px 100px;
  padding-bottom: 68px;
  background: #FFFFFF;
  &__close-btn{
  position: absolute;
  width: 18px;
  height: 18px;
right: 12px;
top: 11px;
}
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  input {
    border: 1px solid #46A358;
    border-radius: 5px;
    width: 300px;
    margin-bottom: 17px;
    padding: 12px 0;
    padding-left: 14px;
    outline: none;
  }

  input::placeholder {
    font-family: 'CeraPro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #A5A5A5;

  }

}
.login-with{
  padding: 10px 0;
  border: 1px solid #EAEAEA;
border-radius: 5px;
width: 100%;
font-family: 'CeraPro';
background: none;
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 16px;
/* identical to box height, or 123% */
position: relative;
text-align: center;
padding-left: 24px;
color: #727272;
margin-top: 20px;
margin-bottom: 15px;
}
.login-with::after{
  width: 20px;
  height: 20px;
  content: "";
  position: absolute;
  left: 79px;
  top: 8px;
  display: inline-block;
  background: url('../img/google.png');
}
.login-with-facebook{
  margin-top: 0px;
  padding-left: 20px;
  margin-bottom: 0;
}
.login-with-facebook::after{
  width: 20px;
  height: 20px;
  content: "";
  position: absolute;
  left: 79px;
  top: 8px;
  display: inline-block;
  background: url('../img/facebook-icon.png');
  background-repeat: no-repeat;
}
.login__fogot {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  font-family: 'CeraPro';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 114% */


  color: #46A358;
}


.login-btn {
  margin-top: 23px;
  width: 100%;

  button {
    text-align: center;
    padding-top: 16px;
    padding-bottom: 13px;
    width: 100%;
    background: #46A358;
    border-radius: 5px;
    font-family: 'CeraPro';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    border: none;
  }


}

.login-paragraph {
  display: flex;
  align-items: center;
margin-top: 23px;
justify-content: center;
  span {
    width: 91px;
    height: 1px;
    background: #EAEAEA;
  }

  &-text {
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'CeraPro';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #3D3D3D;

  }
}

.login__subtitle {
  p {
    margin: 0;
    margin-bottom: 14px;
    font-family: 'CeraPro';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #3D3D3D;
  }
}
.login-tab{
  display: none;
}
.login-tab.active{
  display: block;
}
.login__titles {
  display: flex;
  align-items: center;
 margin-bottom: 40px;
  .modal__tab1 {
    margin-left: 11px;
    margin-right: 11px;

    h3 {
      margin: 0;
     
      cursor: pointer;
      font-family: 'CeraPro';
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 16px;
      color: #3D3D3D;
    }
  }

  .modal__tab1.active {
    margin-right: 11px;

    h3 {
      font-family: 'CeraPro';
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 16px;
      color: #46A358;
    }
  }


}


.checkout__overlap{
  width: 100%;
  height: 100%;
}
@media screen and (max-width:756px) {
  .main__wrapper {
    position: static;
  }
}