// базовые подключения
@import "vars";
@import "mixins";
@import "fonts";
@import "settings";

// подключения компонентов страницы
@import "./components/header";
@import "./components/title";
@import "./components/footer";
@import "./components/blog";
@import "./components/info";

@import "./components/filter";

// тестовые стили, удалите их
ul{
	list-style: none;
  margin: 0;
  padding: 0;
}
a{
	text-decoration: none;
	color: "black";
}
.page__body{
  position: relative;
  background: #fff;
}
